body{
    margin: 0px;
    /* max-width: 1136px; */
}
.container{
    max-width: 1136px;
    margin: auto;
    background-color: coral;
    margin: 30px;
}

    

img {
    height: 200px;
    /* width: 100%; */
  }
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   column-gap 5px;
   row-gap:20px; 
 }

